/* HomePage.module.css */

.container {
  width: 98%;
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.firstGrid {
  grid-column: 1 / 2;
  height: 82vh;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  border-radius: 16px;
  /* Ocultar scrollbar en webkit browsers */
  -webkit-scrollbar: none;

  /* Ocultar scrollbar en Firefox */
  scrollbar-width: none;

  /* Ocultar scrollbar en IE/Edge legacy */
  -ms-overflow-style: none;
}

.secondGrid {
  grid-column: 2 / 3;
  height: 82vh;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
}
